* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f1f1;
}

.menu img{
    width: 100px;
}

.menu nav a{
    font-size: 18px;
    text-decoration: none;
    padding: 0 20px;
    margin: 12px;
}

h1, h2, h3 {
    padding: 12px;
    margin: 12px;
    font-size: 24px;
    display: flex;
    margin: center;
    align-items: center;
}

p {
    font-size: 14px
}

